body{
    background-color: black;
}
h1{
    color: red;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    color: red;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 150px;

}
.container{
        display:flex;
        justify-content: center;
}